body {font-family: 'Courier New', Courier, monospace;
    margin: 101px;;
    max-width: fit-content;
    padding: auto;
    background-color: antiquewhite;
    border: 120px;
}
#New-name{font-style: normal;
          font-weight: 100;
          font-display: 120;
}
.images{
    margin: 50px
    max: width 75px;
    background: fixed;


}
